 @mixin exampleWSliderImageMobileRender {
     @media (min-width: 320px)and(max-width: 425px) {
         width: auto;
         height: 100%;
         //   object-fit: cover;
         flex-basis: auto;
         @content
     }
     @media (min-width: 426px)and(max-width: 768px) {
         width: auto;
         height: 100%;
         //   object-fit: cover;
         flex-basis: auto;
         @content
     }
     @media (min-width: 769px)and(max-width: 1444px) {
         width: auto;
         height: 100%;
         //   object-fit: cover;
         flex-basis: auto;
         @content
     }
 }
 
 @mixin exampleWSliderArrowsAuthorMobileRender {
     @media (min-width: 320px)and(max-width: 425px) {
         top:31.6%;
         @content
     }
     @media (min-width: 426px)and(max-width: 768px) {
         top: 48.5%;
         @content
     }
 }

 @mixin exampleWSliderArrowsAuthorMobileRenderB {
    @media (min-width: 320px)and(max-width: 425px) {
        top:86%;
        @content
    }
    @media (min-width: 426px)and(max-width: 768px) {
         @content
    }
}