 @import '/commonCSS/commonNotMain.scss';
 .DescriptionBlock-MasterClassSignUpForm {
     color: black;
     margin-top: 10%;
     font-size: 24px;
 }
 
 .MasterClassSignUpForm-InputField__BlackBorder {
     box-shadow: 0px 0px 7px#181a18;
     margin-bottom: 5%;
 }
 
 .Button__Black {
     box-shadow: 0px 0px 10px rgb(41, 40, 37);
     color: black;
     position: initial;
     margin: auto;
     width: 100%;
     margin-top: 15%;
 }